<header class="bg-[#171717] py-3 px-6 w-full flex border-b border-[#D1D5DB]">
<div class="p-3 flex items-center gap-2">
  <img class="w-5" src="images/logo_icon.svg" alt="ícone">
  <p class="font-bold text-[#ffffff]">GoTask</p>
</div>
  <nav class="p-3 ml-auto flex gap-6">
    <button class="bg-[#743455] p-2 rounded-xl">
      <img class="w-5" src="images/bell.svg" alt="sino">
    </button>

    <div class="flex items-center gap-3">
      <img class="w-7" src="images/avatar.png" alt="foto pessoa">
      <span class="font-bold text-[#ffffff]">Amanda M.</span>


      <button class="w-5">
        <img src="images/sign-out.svg" alt="ícone de sair">
      </button>
    </div>

  </nav>
</header>
