<div class="bg-[#171717] rounded-2xl p-8 flex flex-col gap-7 sm:flex-row-reverse sm: justify-between
  sm:items-center">
  <div>
    <img src="images/handCoding.svg" alt="imagem de mãos digitando">
  </div>
  <div class=" flex flex-col gap-4">
    <div>
      <h1 class="font-bold text-2xl text-[#D11174]">Bem vinda de volta, <br> Amanda M.</h1>
      <h3 class="font-medium opacity-80 text-[#ffffff]">Não se esqueça de atualizar as tarefas</h3>
    </div>

    <div>
      <button class=" flex text-[#ffffff] bg-[#D11174] shadow-md shadow-pink-500/50
      py-3 px-4 rounded-xl text-sm font-semibold text-center items-center  gap-2 cursor-pointer active:translate-y-1
      transition-transform duration-75">
        <img src="images/plus-circle.svg" alt="ícone de +">
        Criar uma tarefa
      </button>
    </div>
  </div>
</div>
