<div class="p-3 bg-[#ffffff] rounded-xl cursor-grab flex flex-col gap-3">
  <div class="flex gap-1">
    <p class="font-bold text-black">{{ task().name }}</p>
    <img class="self-start cursor-pointer ml-auto w-6 "
         src="images/trash-simple.svg" alt="ícone de lixeira">
  </div>

  <p class="font-light text-sm text-gray-500">{{ task().description }}</p>

  <div class="flex items-center gap-1">
    <img class="h-4" src="images/chat-teardrop.svg" alt="ícone de comentário">
    <p class="font-semibold text-xs text-[#D11174] underline
      underline-offset-2 cursor-pointer" (click)="openTaskCommentsModal()"
    >{{ task().comments.length }} Comentários</p>

    <p class="font-semibold text-xs text-gray-500 underline
      underline-offset-2 cursor-pointer ml-auto" (click)="openEditTaskModal()">Editar</p>
  </div>
</div>
