<form class="rounded-xl overflow-hidden bg-white" [formGroup]="taskForm"(ngSubmit)="onFormSubmite()">
  <div class="flex gap-1 items-center p-4">
    <img class="bg-[#D11174] p-1 h-5 w-5 rounded-lg" src="images/pencil-simple-outline.svg" alt="">
    <h1 class="font-semibold text-lg">
      {{(_data.mode === 'create' ? 'Criar ' : 'Editar ') + 'tarefa'}}
    </h1>

    <img class="ml-auto cursor-pointer h-4" src="images/x.svg" alt="ícone de x" (click)="closeModal()">
  </div>

  <div class="p-4 border-y border-[#D1D5DB] flex flex-col gap-4">
    <div>
      <p class="font-semibold text-sm mb-2">Nome</p>
      <input class="w-full border border-[#d1d5db] p-3 rounded-lg
      text-sm font-light test-[#89919f]" type="text" placeholder="Descreva o que deverá ser feito" formControlName="name">

      @if(taskForm.get('name')?.touched && taskForm.get('name')?.invalid){
        <p class="font-semibold text-sm text-red-500">O campo é obrigatório e
          precisa ter no mínimo 10 caracteres.</p>
      }
    </div>

    <div>
      <p class="font-semibold text-sm mb-2">Descrição</p>
      <input class="w-full border border-[#d1d5db] p-3 rounded-lg
      text-sm font-light test-[#89919f]" type="text" placeholder="Adicione uma descrição" formControlName="description">
      @if(taskForm.get('description')?.touched && taskForm.get('description')?.invalid){
        <p class="font-semibold text-sm text-red-500">O campo é obrigatório e
          precisa ter no mínimo 10 caracteres.</p>
      }

    </div>
  </div>

  <div class="p-4 flex justify-end gap-2">
    <button class="py-3 px-4 bg-[#fafafa] rounded-xl text-sm font-semibold cursor-pointer
      active:translate-y-1 transition-transform duration-75" type="button" (click)="closeModal()">Cancelar</button>
    <button
      class="{{`py-3 px-4 rounded-xl text-sm text-white  font-semibold cursor-pointer ${
      taskForm.invalid ? 'bg-[#d7d8d8]' : 'bg-[#D11174] active:translate-y-1 transition-transform duration-75\n'+
'      shadow-md shadow-pink-500/50 '
      }`}}"
      type="submit" [disabled]="taskForm.invalid">
      {{_data.mode === 'create' ? 'Criar tarefa' : 'Salvar alterações'}}
    </button>
  </div>
</form>
